<div class="container">
  <div class="div1">
    <h3>ToDo List</h3>
    <h4>Add An Item</h4>
    <form (ngSubmit)="addItem()" [formGroup]="itemForm">
      <input type="text" placeholder="Enter an Item Name" formControlName="item"/>
      <button type="submit">ADD</button>
    </form>
  </div>
  <div class="div2">
    <div class="list-items" *ngFor="let item of items">
      <p>{{item}}</p>
      <div class="icons">
        <i class="fa fa-edit fa-lg"></i>
        <i style="color: red;" class="fa fa-trash-alt"></i>
      </div> 
    </div>
  </div>
</div>
